Body {
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
}
h1 {
  font-weight: 900;
  font-size: 55px;
}

a {
  color: rgb(224, 139, 208);
  text-decoration: none;
}

a:hover {
  color: rgb(155, 90, 143);
}

#celsius-link,
#fahrenheit-link {
  text-decoration: none;
}

#celsius-fahrenheit .active {
  color: black;
  cursor: default;
}

#celsius-fahrenheit .active:hover {
  text-decoration: none;
}

.btn-outline-dark {
  padding: 0.1rem 0.5rem;
}
.card {
  margin: 20px auto 0px;
  background-color: rgb(109, 109, 109, 0.35);
}
.top-split-left {
  text-align: left;
}
.additional-info {
  text-align: left;
  margin-top: 8px;
  margin-left: 25px;
}

.todays-display {
  padding-top: 26px;
}

.todays-display-top {
  padding-bottom: 13px;
}

#main-weather-icon {
  font-size: 50px;
  text-align: left;
  padding-top: 10px;
  padding-right: 5px;
}

.temperature-today,
.daily-temp,
.todays-date,
.card-title {
  color: rgb(90, 98, 118, 0.8);
}

.card-subtitle {
  margin-top: 30px;
}

.temperature-today {
  margin-left: 5px;
  font-size: 16px;
  margin-bottom: 0;
}

#current-weather-description {
  color: rgb(90, 98, 118, 0.8);
  text-transform: capitalize;
}

#humidity-percent,
#wind-speed {
  margin-top: 10px;
}

#celsius-fahrenheit {
  font-size: 20px;
}
#current-temperature,
#degree-symbol {
  font-weight: 900;
  font-size: 30px;
}

#search-form {
  display: inline;
}
