Body {
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  background-color: rgb(200, 217, 235, 0.5);
}
h1 {
  font-weight: 900;
  font-size: 55px;
}

a {
  color: rgb(230, 115, 159);
  text-decoration: none;
}

a:hover {
  color: rgb(163, 68, 103);
}

.btn-outline-dark {
  padding: 0.1rem 0.5rem;
  background-color: rgb(175, 193, 211, 0.5);
  box-shadow: 3px 3px 3px rgb(175, 193, 211, 0.8);
}
.card {
  margin: 20px auto 0px;
  border-radius: 1rem;
  box-shadow: 3px 3px 3px rgb(175, 193, 211, 0.5);
}
.top-split-left {
  text-align: left;
}
.additional-info {
  text-align: left;
  margin-top: 8px;
  margin-left: 25px;
}

.todays-display {
  padding-top: 59px;
}

.todays-display-top {
  padding-bottom: 23px;
}

.icon-and-words {
  padding-top: 20px;
}

.temperature-today,
.daily-temp,
.todays-date,
.last-updated,
.additional-info {
  color: rgb(90, 98, 118, 0.8);
}

.card-subtitle {
  margin-top: 30px;
}

.temperature-today {
  margin-left: 5px;
  font-size: 16px;
  margin-bottom: 0;
}

.github-link {
  position: relative;
}

#main-weather-icon {
  font-size: 50px;
  text-align: left;
  padding-top: 10px;
  padding-right: 5px;
}

#current-weather-description {
  color: rgb(90, 98, 118, 0.8);
  text-transform: capitalize;
}

#humidity-percent,
#wind-speed {
  margin-top: 10px;
}

#current-temperature,
#degree-symbol,
#celsius-symbol {
  font-weight: 900;
  font-size: 30px;
}

#search-form {
  display: inline;
}
